body {
    background-color: #f8f9fa;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: #ffffff;
    border-radius: 5px;
}

h2 {
    margin-bottom: 20px;
}

form {
    display: flex;
    flex-direction: column;
}

label {
    margin-bottom: 5px;
}

input, textarea {
    margin-bottom: 20px;
    padding: 8px;
    border: 1px solid #ced4da;
    border-radius: 3px;
}

button {
    background-color: #333;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    display: block;
    margin: 0 auto;
    margin-top: 20px;
}

button:hover {
    background-color: #0056b3;
}

.contenido-contact {
    /*max-width: 60%;      /* Define el ancho máximo del contenedor a la mitad del ancho de la página */
    /*margin: 0 auto;      /* Centra el contenedor horizontalmente */
    padding: 20px;       /* Añade un poco de espacio alrededor del contenido para que respire */
    text-align: justify; /* Justifica el texto para que tenga un aspecto uniforme */
    flex: 1 0 auto; /* Hace que el contenido principal ocupe todo el espacio disponible, empujando el footer hacia abajo */
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh; /* Asegura que el cuerpo ocupe toda la altura de la ventana */
}