<app-header></app-header>

<body>
    <div class="container">
        <h2>CONTACTANOS</h2>
        <form id="chatbot-form">
            <label for="name">Nombre*</label>
            <input type="text" id="name" name="name" required>

            <label for="lastname">Apellido*</label>
            <input type="text" id="lastname" name="lastname" required>

            <label for="membership-number">Número de Membresía</label>
            <input type="text" id="membership-number" name="membership-number">

            <label for="email">Correo electrónico*</label>
            <input type="email" id="email" name="email" required>

            <label for="question">¿Cómo podemos ayudarte?*</label>
            <textarea id="question" name="question" rows="4" required></textarea>

            <button type="submit">Enviar</button>
        </form>
    </div>
</body>

<!-- <app-footer></app-footer> -->
