<app-header></app-header>

<body>
    <div class="contenido-contact">
        <div class="container">
            <h2>CONTACTANOS</h2>
            <form id="chatbot-form">
                <label for="name">Nombre*</label>
                <input type="text" id="name" name="name" required #Nombre>
    
                <label for="lastname">Apellido*</label>
                <input type="text" id="lastname" name="lastname" required #Apellidos>
    
                <label for="membership-number">Dirección</label>
                <input type="text" id="membership-number" name="membership-number" #Direccion>
    
                <label for="email">Correo electrónico*</label>
                <input type="email" id="email" name="email" required #Correo>
    
                <label for="question">¿Cómo podemos ayudarte?*</label>
                <textarea id="question" name="question" rows="7" required #Mensaje></textarea>
    
                <button class="col btn-1 btn btn-primary"
                (click)="actualizarPassword(Nombre.value, Apellidos.value, Direccion.value, Correo.value, Mensaje.value)">
                    Enviar
                </button>
            </form>

            <div class="mapa-container">
                <h2>¿CÓMO LLEGAR?</h2>
                <iframe 
                src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1933.3472369906178!2d-90.03842757849205!3d14.27103177774065!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x85882b270ae5506f%3A0xab0796b8b8b9b3c2!2sCorporaci%C3%B3n%20Tecno-Che!5e0!3m2!1ses-419!2sgt!4v1697604875324!5m2!1ses-419!2sgt" 
                width="770" 
                height="450" 
                style="border:0;" 
                allowfullscreen="" 
                loading="lazy" 
                referrerpolicy="no-referrer-when-downgrade">
                </iframe>
            </div>
        </div>
    </div>
</body>

<app-footer></app-footer>
