

<div class="recuperacion-container">
    <h2>RECUPERACIÓN DE CONTRASEÑA</h2>
    
    <div class="input-field">
        <label for="correoElectronico">ESCRIBE LA CONTRASEÑA ACTUAL</label>
        <input type="email" id="correoElectronico" name="correoElectronico" placeholder="escribe el correo electrónico" #correo>
    </div>
    
    <div class="input-field">
        <label for="passwordActual">ESCRIBE LA CONTRASEÑA ACTUAL</label>
        <input type="password" id="passwordActual" name="passwordActual" placeholder="escribe la contraseña actual" #contraseniaActual>
    </div>
    
    <div class="input-field">
        <label for="passwordNueva">ESCRIBE LA NUEVA CONTRASEÑA</label>
        <input type="password" id="passwordNueva" name="passwordNueva" placeholder="escribe la nueva contraseña" #contraseniaNueva>
    </div>

    <button 
    (click)="actualizarPassword(correo.value, contraseniaActual.value, contraseniaNueva.value)" 
    class="col btn-1 btn btn-primary">
    Registrarse
    </button>

</div>

