

<div class="recuperacion-container">
    <h2>RECUPERACIÓN DE CONTRASEÑA</h2>
    
    <div class="input-field">
        <label for="correoElectronico">ESCRIBE EL CORREO ELECTRÓNICO</label>
        <input type="email" id="correoElectronico" name="correoElectronico" placeholder="Escribe el Correo Electrónico" #correo>
    </div>
    
    <div class="input-field">
        <label for="passwordActual">ESCRIBE LA CONTRASEÑA ACTUAL</label>
        <input type="password" id="passwordActual" name="passwordActual" placeholder="Escribe la Contraseña Actual" #contraseniaActual>
    </div>
    
    <div class="input-field">
        <label for="passwordNueva">ESCRIBE LA NUEVA CONTRASEÑA</label>
        <input type="password" id="passwordNueva" name="passwordNueva" placeholder="Escribe la Nueva Contraseña" #contraseniaNueva>
    </div>

    <button 
    (click)="actualizarPassword(correo.value, contraseniaActual.value, contraseniaNueva.value)" 
    class="col btn-1 btn btn-primary">
    Registrarse
    </button>

</div>

