footer {
  background: linear-gradient(to right, #4CAF50, #5b4caf); /* Color de fondo */
  color: white;
  text-align: center;
  padding: 1rem;
  bottom: 0;
  width: 100%;
  flex-shrink: 0; /* Asegura que el footer no se reduzca y mantenga su altura */

}
