  <header>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <h1 class="navbar-brand">CORPORACION TECNO CHE</h1>
  
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" routerLink="/home" routerLinkActive="active">Inicio</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/about-us" routerLinkActive="active">¿Quiénes Somos?</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/services" routerLinkActive="active">Servicios</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/contact" routerLinkActive="active">Contacto</a>
          </li>
        </ul>
      </div>
    </nav>
  </header>