<div class="parent clearfix">
  <div class="bg-illustration">
    <img src="https://cdn4.iconfinder.com/data/icons/bold-circular-app-web-icons/1153/circle_user_bold-512.png" alt="logo">

    <div class="burger-btn">
      <span></span>
      <span></span>
      <span></span>
    </div>

  </div>

  <div class="login">
    <div class="container">
      <h1>Inicia sesión<br />en tu cuenta</h1>

      <div class="login-form">
        <form action="">
          <input type="email" placeholder="Correo Electrónico" #correo>
          <input type="password" placeholder="Contraseña" #contrasenia>

          <div class="remember-form">
            <input type="checkbox">
            <span>Recordar credenciales</span>
          </div>
          <div class="forget-pass">
            <a href="recuperar-admin">Olvidaste tu contraseña ?</a>
          </div>

          <button type="submit" (click)="iniciarSesion(correo.value, contrasenia.value)">LOG-IN</button>

        </form>
      </div>
    </div>
  </div>
</div>
