/* Estilo general de la barra de navegación */
.navbar {
    background: linear-gradient(to right, #4caf50, #5b4caf); /* Color de fondo */
}

.navbar-brand {
    font-size: 30px;
    font-weight: bold;
    color: black;
    margin: 0 auto;
    text-align: center;
}

/* Elimina el estilo de lista por defecto */
.navbar ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;  /* Hace que los ítems se muestren en línea */
    justify-content: space-between;  /* Distribuye los ítems uniformemente a lo largo del contenedor */
}

/* Estilo para cada ítem de la lista */
.navbar li {
    padding: 8px 16px;
}

/* Estilo para los enlaces */
.navbar a {
    text-decoration: none;
    color: white;
    padding: 8px 16px;
    transition: background-color 0.3s;
}

/* Cambia el color de fondo al pasar el mouse por encima */
.navbar a:hover {
    background-color: #575757;
}

.btn-primary {
    margin-top: 10px;
    width: 150px;
    height: 50px;
    border-radius: 20px;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    position: absolute;
    right: 20px;
    cursor: pointer;
}

/* Cambiar el color al pasar el ratón */
.btn-primary:hover {
    background-color: grey; /* Color de fondo */
    border-color: black; /* Color del borde */
}

.btn-secondary {
    margin-top: 70px;
    width: 150px;
    height: 50px;
    border-radius: 20px;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    position: absolute;
    right: 20px;
    cursor: pointer;
}

/* Cambiar el color al pasar el ratón */
.btn-primary:hover {
    background-color: grey; /* Color de fondo */
    border-color: black; /* Color del borde */
}

section {
    margin-bottom: 20px;
}

h1, h2 {
    font-size: 40px;
    margin: 0;
    color: #333;
}

p {
    font-size: 1.2em;
}

.contenido-home {
    max-width: 60%;      /* Define el ancho máximo del contenedor a la mitad del ancho de la página */
    margin: 0 auto;      /* Centra el contenedor horizontalmente */
    padding: 20px;       /* Añade un poco de espacio alrededor del contenido para que respire */
    text-align: justify; /* Justifica el texto para que tenga un aspecto uniforme */
    flex: 1 0 auto; /* Hace que el contenido principal ocupe todo el espacio disponible, empujando el footer hacia abajo */
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh; /* Asegura que el cuerpo ocupe toda la altura de la ventana */
}

img {
    width: 100%;
    height: auto;
}