<header>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <h1 class="navbar-brand">CORPORACION TECNO CHE</h1>

    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" routerLink="/home" routerLinkActive="active">Inicio</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="/about-us" routerLinkActive="active">¿Quiénes Somos?</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="/services" routerLinkActive="active">Servicios</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="/contact" routerLinkActive="active">Contacto</a>
            </li>
        </ul>
            <button class="btn btn-primary my-2 my-sm-0" type="button" routerLink="/login">
                Iniciar Sesión
            </button>
    </div>
    </nav>
</header>

<!-- INICIO DEL BODY DE LA PAGINA HOME -->
<body>
    <div class="contenido-home">

            <!-- Mensaje de Bienvenida -->
            <section class="welcome-section">
                <h2> ¡Bienvenidos a Corporación Tecno-Che! </h2>
                    <p>
                        Somos más que una simple empresa de gestión de eventos; somos tus aliados 
                        en la creación de experiencias inolvidables. En Corporación Tecno-Che, fusionamos 
                        la tecnología con la pasión por los eventos para brindarte soluciones innovadoras 
                        y a la medida de tus necesidades.
                    </p>
                    <p>
                        Cada evento que organizamos es una obra maestra única, diseñada meticulosamente 
                        para capturar la esencia de tu visión y transformarla en momentos mágicos que 
                        quedarán grabados en la memoria de tus invitados.
                    </p>
                    <p>
                        ¿Listo para comenzar una nueva aventura con nosotros? ¡Dale vida a tus eventos 
                        con Corporación Tecno-Che
                    </p>
            </section>
    
            <!-- Misión de la Empresa -->
            <section class="mission-section">
                <h2>Misión</h2>
                <p>
                    "En Corporación Tecno-Che, nos dedicamos a transformar ideas en experiencias memorables. 
                    Con pasión y compromiso, innovamos en la gestión de eventos para conectar personas y 
                    crear momentos inolvidables. Nuestra misión es superar las expectativas, brindando soluciones 
                    integrales que reflejen la visión y esencia de cada cliente."
                </p>
            </section>
    
            <!-- Visión de la Empresa -->
            <section class="vision-section">
                <h2>Visión</h2>
                <p>
                    "Ser reconocidos como grandes exponentes en la industria de la gestión de eventos a 
                    nivel nacional, destacando por nuestra innovación, compromiso y excelencia. 
                    Aspiramos a ser la primera elección para aquellos que buscan crear eventos 
                    extraordinarios, impulsando conexiones genuinas y dejando huellas imborrables en 
                    cada experiencia."
                </p>
            </section>
    
            <!-- Historia de la Empresa -->
            <!-- <section class="history-section">
                <h2>Historia</h2>
                <p>Fundada en 20XX, nuestra empresa ha organizado más de 1.000 eventos exitosos.</p>
            </section> -->
    </div>
    
</body>
<!-- FIN DEL BODY DE LA PAGINA HOME -->

<app-footer></app-footer>
