<header>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand">CORPORACION TECNO CHE</a>

    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" routerLink="/home" routerLinkActive="active">Inicio</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="/about-us" routerLinkActive="active">¿Quiénes Somos?</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="/services" routerLinkActive="active">Servicios</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="/contact" routerLinkActive="active">Contacto</a>
            </li>
            </ul>
            <button class="btn btn-primary my-2 my-sm-0" type="button" routerLink="/login">
                Iniciar Sesión
            </button>
        </div>
    </nav>
</header>

<!-- INICIO DEL BODY DE LA PAGINA HOME -->
<div class="contenido-home">

    <div class="container">
        <div class="row">
            <div class="col-12">
                <h1 class="text-center">Bienvenido a la página de inicio</h1>
            </div>           
        </div>

        <!-- Mensaje de Bienvenida -->
        <section class="welcome-section">
            <h1>Bienvenidos a Nuestra Aplicación</h1>
            <p>Su confiable compañero en la gestión de eventos.</p>
        </section>

        <!-- Misión de la Empresa -->
        <section class="mission-section">
            <h2>Misión</h2>
            <p>Facilitar la planificación y ejecución de eventos memorables.</p>
        </section>

        <!-- Visión de la Empresa -->
        <section class="vision-section">
            <h2>Visión</h2>
            <p>Ser líderes en la industria de la gestión de eventos mediante la innovación constante.</p>
        </section>

        <!-- Historia de la Empresa -->
        <section class="history-section">
            <h2>Historia</h2>
            <p>Fundada en 20XX, nuestra empresa ha organizado más de 1.000 eventos exitosos.</p>
        </section>
            </div>

</div>
<!-- FIN DEL BODY DE LA PAGINA HOME -->

<app-footer></app-footer>
