<header>
    <div class="logo">
        <a href=""><img src="assets/logo.png" alt="Logo"></a>
    </div>

    <div class="profile">
        <a href="perfil-admin"><img src="ruta-a-tu-imagen-de-perfil.jpg" alt="Imagen de Perfil"></a>
    </div>
</header>

<div class="obtener-reporte">
    <button (click)="generarPDF()">
        GENERAR PDF
    </button>
</div>

<div #reporte>
    <form> 
        <table class="tabla-formulario">
            <thead>
                <tr>
                    <th>Cotización ID</th>
                    <th>Descripción</th>
                    <th>Fecha Inicio</th>
                    <th>Fecha Fin</th>
                    <th>Lugar</th>
                    <th>Cantidad de Personas</th>
                    <th>Tipo de Evento</th>
                    <th>Estado del Evento</th>
                    
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let cotizacion of cotizaciones">
                    <td>{{ cotizacion.CotizacionID }}</td>
                    <td>{{ cotizacion.Descripcion }}</td>
                    <td>{{ cotizacion.FechaInicio }}</td>
                    <td>{{ cotizacion.FechaFin }}</td>
                    <td>{{ cotizacion.Lugar }}</td>
                    <td>{{ cotizacion.CantidadPersonas }}</td>
                    <td>{{ cotizacion.Evento }}</td>
                    <td>{{ cotizacion.EstadoEvento }}</td>
                </tr>        
            </tbody>
        </table>
    </form>
</div>
