<header>
    <div class="logo">
        <a href=""><img src="assets/logo.png" alt="Logo"></a>
    </div>

    <div class="profile">
        <a href="perfil-admin"><img src="ruta-a-tu-imagen-de-perfil.jpg" alt="Imagen de Perfil"></a>
    </div>
</header>

<form> 
    <table class="tabla-formulario">
        <thead>
            <tr>
                <th>Descripción</th>
                <th>Fecha Inicio</th>
                <th>Fecha Fin</th>
                <th>Lugar</th>
                <th>Cantidad de Personas</th>
                <th>Tipo de Evento</th>
                <th>Estado del Evento</th>
                <!-- Agrega más columnas según necesites -->
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Dato 1</td>
                <td>Dato 2</td>
                <td>Dato 3</td>
                <td>Dato 4</td>
                <td>Dato 5</td>
                <td>Dato 6</td>
                <td>Dato 7</td>
                <!-- Agrega más datos según necesites -->
            </tr>
            <!-- Agrega más filas según necesites -->
        </tbody>
    </table>
</form>
