<section class="about">
  <h2>About Us</h2>
  <p>This clinic was founded by Dr. Mary Zimmerman MD on January 5th, 1992. Since those times we were vocal in expanding
    both the number of pediatric and related services we offer, just as well as the size of our team of skilled and
    caring pediatricians. All in all, our medical facility for minors provides a range of therapy services to children
    aged 0-18 years of age and their families.</p>
  <button>Read More About Us</button>
</section>
