.about {
  background-color: #f0f0f0;
  padding: 20px;
  margin-bottom: 20px;
}

​h2 {
  font-size: 24px;
  margin-bottom: 10px;
}

p {
  font-size: 16px;
  line-height: 1.5;
  margin-bottom: 10px;
}

button {
  background-color: #333;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  display: block;
  margin: 0 auto;
  margin-top: 20px;
}

.contenido-about {
  max-width: 60%;      /* Define el ancho máximo del contenedor a la mitad del ancho de la página */
  margin: 0 auto;      /* Centra el contenedor horizontalmente */
  padding: 20px;       /* Añade un poco de espacio alrededor del contenido para que respire */
  text-align: justify; /* Justifica el texto para que tenga un aspecto uniforme */
  flex: 1 0 auto; /* Hace que el contenido principal ocupe todo el espacio disponible, empujando el footer hacia abajo */
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh; /* Asegura que el cuerpo ocupe toda la altura de la ventana */
}
