<app-header></app-header>

<body>
  <div class="contenido-about">
    <section class="about">
      <h2>Acerca de Nosotros</h2>
      <p>
        Esta empresa primero empezó como un café internet, con unas pocas computadoras y un par de consolas
        de videojuegos, pero con el paso del tiempo se fue adquiriendo más equipo y se fue creciendo hasta
        que se decidió que sería una buena idea empezar en el area de produccion de videos a grabar momentos 
        especiales de las personas, como bodas, quince años, bautizos, etc. Y así fue como se empezó a crecer 
        y a adquirir más equipo para poder empezar a grabar eventos más grandes como conciertos, festivales, etc. 
        Posteriormente se empezó a dar servicio a eventos de empresas, como juntas, conferencias, etc. Y así es 
        como luego nosotros empezamos a organizarlos y a gestionarlos
      </p>
      <button>Explora para conocer más</button>
    </section>
  </div>
</body>

<app-footer></app-footer>
