<div class="profile-container">
    <div class="logo-container">
        <img src="assets/img/logo.png" alt="Logo Usuario" class="user-logo">
    </div>
    <div class="user-info">
        <div class="info-row">
            <span class="label">nombre usuario:</span>
            <input class="info" placeholder="informacion nombreusuario">
            <button class="edit-button">EDITAR</button>
        </div>
        <div class="info-row">
            <span class="label">email:</span>
            <span class="info">informacion del email</span>
        </div>
        <div class="info-row">
            <span class="label">contraseña ofuscada:</span>
            <input class="info" placeholder="contraseñaOfuscada">
            <button class="edit-button">EDITAR</button>
        </div>
    </div>
    <div class="delete-container">
        <button class="delete-button">BOTON ELIMINAR USUARIO</button>
    </div>
</div>
