

<div class="recuperacion-container">
    <h2>RECUPERACIÓN DE CONTRASEÑA</h2>
    
    <div class="input-field">
        <label for="passwordActual">ESCRIBE LA CONTRASEÑA ACTUAL</label>
        <input type="password" id="passwordActual" name="passwordActual" placeholder="escribe la contraseña actual">
    </div>
    
    <div class="input-field">
        <label for="passwordNueva">ESCRIBE LA NUEVA CONTRASEÑA</label>
        <input type="password" id="passwordNueva" name="passwordNueva" placeholder="escribe la nueva contraseña">
    </div>
</div>
