<app-header></app-header>

<body>
    <div class="contenido-services">
        <div class="container">
            <h1>Nuestros Servicios</h1>
        </div>
        
        <div class="container">
            <h2>Eventos personales</h2>
            <p>Sample text. Click to select the text box. Click again or double click to start editing the text. Excepteur sint occaecat cupidatat non proident.</p>
            <img src="https://www.adecco.es/-/media/adeccogroup/brands/adecco-global-2016/spain/media/insights/servicios-de-planificacion-y-gestion-de-eventos-necesarios-para-eventos-en-2022.jpg?h=1080&iar=0&w=1920&rev=4c41e97bb57b4059aefe861383623791&hash=E7B9EA923BC1C14185789B481A6A5A6E" alt="">
            <button>CONOCE MÁS</button>
            
        </div>
    
        <div class="container">
            <h2>Mobility Services</h2>
            <p>Sample text. Click to select the text box. Click again or double click to start editing the text. Excepteur sint occaecat cupidatat non proident.</p>
            <img src="" alt="">
            <button>CONOCE MÁS</button>
        </div>
    
        <div class="container">
            <h2>20 2 Software Consulting</h2>
            <p>Sample text. Click to select the text box. Click again or double click to start editing the text. Excepteur sint occaecat cupidatat non proident.</p>
            <img src="" alt="">
            <button>CONOCE MÁS</button>
        </div>
        
        <div class="container">
            <h2>20 2 Software Consulting</h2>
            <p>Sample text. Click to select the text box. Click again or double click to start editing the text. Excepteur sint occaecat cupidatat non proident.</p>
            <img src="" alt="">
            <button>CONOCE MÁS</button>
        </div>
    </div>
</body>

<app-footer></app-footer>