<header>
    <div class="logo">
        <a href="pagina-inicio-usuario"><img src="assets/img/logo.png" alt="Logo"></a>
    </div>
    
    <div class="profile">
        <a href="perfil-usuario"><img src="assets/img/imagen-de-perfil.png" alt="Perfil de usuario"></a>
    </div>
</header>

<form>
    <div class="container">

        <div class="form">
            <h2>Ingreso de Cotización</h2>
            <table>
                <tr>
                    <td><label for="descripcion">Descripción:</label></td>
                    <td><input type="text" id="descripcion" name="descripcion" required #descripcion></td>
                </tr>
                <tr>
                    <td><label for="fechaInicio">Fecha Inicio:</label></td>
                    <td><input type="date" id="fechaInicio" name="fechaInicio" required #fechaInicio></td>
                </tr>
                <tr>
                    <td><label for="fechaFin">Fecha Fin:</label></td>
                    <td><input type="date" id="fechaFin" name="fechaFin" required #fechaFin></td>
                </tr>
                <tr>
                    <td><label for="lugar">Lugar:</label></td>
                    <td><input type="text" id="lugar" name="lugar" required #lugar></td>
                </tr>
                <tr>
                    <td><label for="cantidadPersonas">Cantidad de Personas:</label></td>
                    <td><input type="number" id="cantidadPersonas" name="cantidadPersonas" required #cantidadPersonas></td>
                </tr>
                <tr>
                    <td><label for="correo">Correo del cliente:</label></td>
                    <td><input type="text" id="correo" name="correo" required #correo></td>
                </tr>
                <tr>
                    <td><label for="tipoEvento">Tipo de Evento:</label></td>
                    <td><select name="tipo_evento" required #evento>
                        <option value="0">Selecciona el tipo de evento</option> 
                        <option value="1">Evento de ocio</option>
                        <option value="2">Evento Personal o familiar</option>
                        <option value="3">Evento cultural</option>
                        <option value="4">Evento organizacional</option>
                        <option value="5">Mega Evento</option>
                    </select></td>
                </tr>  
                <tr>
                    <td colspan="2"><button type="submit" (click)="registrarCotizaciones(descripcion.value, fechaInicio.value, fechaFin.value, lugar.value, cantidadPersonas.value, correo.value, evento.value )">Guardar Cotización</button></td>
                </tr>
            </table>
        </div>
    </div>
</form>

<app-footer></app-footer>
